* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilo general */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    color: #333;
}

/* Menú de navegación */
#navegacion {
    background-color: #007bff;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
}

#marcaNavegacion {
    color: white;
    font-size: 24px;
    text-decoration: none;
}

#listaNavegacion {
    list-style: none;
    display: flex;
    margin-left: auto;
}

#elementoNavegacion {
    margin-left: 20px;
}

#enlaceNavegacion {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

#enlaceNavegacion:hover {
    text-decoration: underline;
}

/* Contenedor de contenido */
#contenedor {
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

/* Títulos */
h1,
h2 {
    color: #007bff;
}

/* Estilo de los enlaces */
ul {
    list-style: none;
    padding: 0;
}

ul li {
    margin-bottom: 10px;
}

ul li a {
    color: #007bff;
    text-decoration: none;
}

ul li a:hover {
    text-decoration: underline;
}
img{
    width: 100%;
}

/* Estilo del pie de página */
footer {
    text-align: center;
    padding: 10px;
    background-color: #007bff;
    color: white;
    position: fixed;
    width: 100%;
    bottom: 0;
}