<!DOCTYPE html>
<html lang="es">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block cabecera %}Gestor de Tareas{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">

</head>
<body>

    <!-- Menú de navegación superior -->
    {% include 'gtareas/header.html' %}

    <!-- Contenedor de contenido principal -->
    <div id="contenedor">
        {% block contenido %}
        
        {% endblock %}
    </div>

    <!-- Imagen logo -->
    <img src="{% static 'imagenes/logo.png' %}" alt="Logo">

    <!-- Pie de página -->
    {% include 'gtareas/footer.html' %}

    <script src="{% static 'javascript/script.js' %}"></script>

</body>
</html>
