{% extends 'gtareas/base.html' %}

{% block contenido %}
    <h1>Tareas Completadas</h1>
    <ul>
       {% for tarea in tareas_mostrar %}
            <li>
                Título: {{ tarea.titulo|upper }} - Fecha de Creación: {{ tarea.fecha_creacion|date:"Y M d" }} - Estado: {{ tarea.estado }} - descripcion: {{ tarea.descripcion|default:"Sin descripción disponible" }}

            </li>
        {% empty %}
            <li>No hay tareas completadas en el rango especificado.</li>
        {% endfor %}
    </ul>
{% endblock %}
