{% extends 'gtareas/base.html' %}

{% block contenido %}
    <h1>Bienvenido al Gestor de Tareas</h1>
    <p>En este sistema podrás gestionar proyectos y tareas.</p>

    <h2>Listado de enlaces</h2>
    <ul>
       <li> <a href="{% url 'lista_proyectos' %}">Ver la lista de proyectos</a></li>
       <li><a href="{% url 'lista_tareas_proyecto' 1 %}">Listar tareas por proyecto</a></li>
       <li><a href="{% url 'lista_usuarios_asignados' 5 %}">Ver usuarios asignados para la tarea 5</a></li>
       <li><a href="{% url 'lista_tareas_por_observacion' 'Every' %}">Búsqueda con palabra 'Every'</a></li>
       <li><a href="{% url 'dame_tareas_por_anio' 2021 2024 %}">Ver Tareas Completadas de 2021 a 2024</a></li>
       <li><a href="{% url 'ultimo_usuario_comentario' 1 %}">Último usuario que comentó en la tarea 1</a></li>
       <li><a href="{% url 'obtener_comentarios' 11 'It' 2003 %}">Obtener comentario</a></li>
       <li><a href="{% url 'obtener_etiquetas_proyecto' 1 %}">Obtener etiquetas por proyecto</a></li>
       <li><a href="{% url 'usuarios_sin_tareas' %}">Ver Usuarios Libres</a></li>
    </ul>
{% endblock %}
